body {
    margin: 2em;
    align-items: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.row {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 0 0 48%; /* Ensures each column takes up about half the width */
    margin: 0 1%; /* Adds a small margin between the columns */
}

textarea {
    width: 100%;
    height: 300px;
}
