body {
    margin: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 1em;
}

textarea {
    width: 100%;
    height: 300px;
}
